---
- name: Deploy fabric to CVP
  hosts: cvp1
  tasks:
    - name: Provision CVP with AVD configuration
      ansible.builtin.import_role:
        name: arista.avd.eos_config_deploy_cvp
      vars:
        container_root: 'FABRIC'
        configlets_prefix: 'AVD'
        # apply_mode: strict # Don't use this unless AVD is the only source of configlets
        state: present
        execute_tasks: false # Set to true if you want the change to be made without a change control approval
        cv_collection: v3
- name : Run all pending task 
  hosts : cvp1
  tasks:
    - name: Grab all pending tasks
      arista.cvp.cv_facts_v3:
        facts:
          - tasks
        regexp_filter: "Pending"
      register: CVP_FACTS
    - name: Run pending task 
      arista.cvp.cv_task_v3:
        tasks: "{{CVP_FACTS.data.cvp_tasks | list }}"
